
    <div class="ae-grid au-xs-ta-center au-mb-4">
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-1.jpg" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Robert T. Williams</h5>
        <p class="ae-u-bolder au-mb-3">Organizador de Eventos</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">cuanto más personalizado y detallista sea el evento, más tiempo perdurará en la memoria de los asistentes.</p><a href="#0" class="ae-u-bolder au-underline">@robertwilliams</a>
      </div>
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-2.jpg" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Angelina B. Widow</h5>
        <p class="ae-u-bolder au-mb-3">Organizadora de Eventos</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Materiales de la naturaleza, elementos que transmiten calidez, plantas, tonos naturales, son algunos de los ingredientes que suelen predominar en sus proyectos.</p><a href="#0" class="ae-u-bolder au-underline">@angelinawidow</a>
      </div>
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-3.jpg" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Patrick Anderson</h5>
        <p class="ae-u-bolder au-mb-3">Organizador de Eventos</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Le piden desde fiestas de Navidad de empresa inspiradas en el mundo del flamenco hasta encuentros empresariales internacionales.</p><a href="#0" class="ae-u-bolder au-underline">@patrickanderson</a>
      </div>
    </div>
    <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">EVENTPLANERING</h4>
        <p>EVENTPLANERING fue creado con la intención de recolectar a organizadores de eventos profesionales, para ofrecerte una experiencia inolvidable de tu evento sin que tengas que preocuparte, por todos los preparativos. Dejalo en manos de nuestros expertos, que con ayuda de ellos y la facilidad de manejo de nuestro sitio web, puedes preparar tu evento con algunos clics.</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Nosotros</h6>
        <p class="au-lh-3">Somos una empresa joven con una gran experiencia y un equipo multidisciplinario orientado a resultados.
          Nuestras alianzas comerciales con los proveedores más profesionales de la industria y el uso de herramientas tecnológicas en la planeación de nuestros eventos garantiza la adecuada gestión del tiempo y los recursos de nuestros clientes. </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <br>
        <p class="au-lh-3">Es una empresa dedicada al diseño, organización y planeación de distintos servicios relacionadas con el entretenimiento y la recreación.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Nuestros Servicios</h6>
        <p class="au-lh-3">Alimentos y bebidas

          • Audio e iluminación
          
          • Renta de mobiliario
          
          • Grupos musicales
          
          • Salones para eventos
          
          • Invitaciones
          
          • Decoración
          
          • Fotografía y vídeo</p>
      </div>
    </div>
    
