<section class="ae-container-fluid ae-container-fluid--full">
    <header>
      <div class="item-inside__meta">
        <h1 class="ae-u-bolder rk-portfolio-title ">Tu boda ideal</h1>
        <p class="ae-theta rk-portfolio-category ">Preparativos de boda</p>
      </div>
    </header>
    <div class="ae-container-fluid">
      <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
        <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
          <h2 class="rk-portfolio-inner-title ">ORGANIZACIÓN DE LA BODA</h2>
        </div>
       
      </div>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
          <h4 class="ae-u-bolder">Hotel para los invitados de la boda: 9 detalles para la mejor estancia</h4>
          <p class="ae-eta">Aunque requiere mayor planeación, casarse en un lugar distinto a la ciudad donde viven siempre es emocionante. Si también sus invitados harán grandes desplazamientos, lo mejor será ayudarles a buscar facilidades de hospedaje. ¿Listos para empezar?</p>
          <p class="ae-eta">Si lanzarán el ramo de novia durante una boda destino con un hotel como locación, tal vez tienen parcialmente resuelto el tema del alojamiento para sus invitados. Pero si buscan más opciones de hospedaje o serán muchas personas porque sus invitaciones de boda tuvieron una aceptación masiva, lo ideal es que de alguna manera faciliten la estancia de sus seres queridos. </p>
        </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/img/boda1.jpg" alt="Urku Portfolio"></div>
      </div>
      
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
          <h4 class="ae-u-bolder">60 textos para grabar en los anillos de boda, ¿cuál es su favorito?</h4>
          <p class="ae-eta">No hay nada más romántico que tener una conexión única con tu pareja. Para recordar siempre y en cualquier lugar que su amor es irrompible, elijan la frase más especial y grábenla en sus anillos de boda: ¡aquí tienen 60 ideas que los harán suspirar!</p>
          <p class="ae-eta">Cada parte de su boda es un reflejo de ustedes mismos. Desde el pastel de boda hasta la mesa de honor de la recepción merecen una personalización especial que hable de ustedes y de su romance. Así como los textos para invitaciones de boda harán suspirar a todos los que las reciban, sus anillos de boda pueden tener un pensamiento de amor que transmita sus sentimientos. ¡Inspírense con estas ideas!</p>
        </div>
      </div>

      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg--auto"><img src="assets/img/boda2.jpg" alt="Urku Portfolio"></div>
      </div>
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-6"><img src="assets/img/boda3.jpg" alt="Urku Portfolio"></div>
        <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
          <h4 class="ae-u-bolder">Bodas en primavera, ¡que florezca el amor!</h4>
          <p class="ae-eta">Una boda primaveral es el sueño de muchas parejas: el clima, los colores y la naturaleza de esta estación son un deleite para novios e invitados. Anímense a casarse en esta temporada leyendo las características más notables de las bodas primaverales.</p>
          <p class="ae-eta">Todo en las bodas primaverales está lleno de vida: coloridos centros de mesa para boda, outfits frescos y encantadores, apetitosa decoración para pastel de boda… Aprovechen al máximo el ambiente natural y dejen que la primavera ilumine toda su boda, desde los recuerdos para boda hasta sus amenidades.</p>
        </div>
      </div>
      

    </div>
    <div class="ae-container-fluid au-pt-4 au-pb-4">
      <div class="group-buttons"><a href="#0" class="au-mt-2 arrow-button arrow-button--right">Siguiente<span class="arrow-cont">
            <svg>
              <use xlink:href="assets/img/symbols.svg#arrow"></use>
            </svg></span></a></div>
    </div>
  </section>