<section class="ae-container-fluid ae-container-fluid--full">
    <header>
      <div class="item-inside__meta">
        <h1 class="ae-u-bolder rk-portfolio-title ">Salones de Fiesta</h1>
        <p class="ae-theta rk-portfolio-category ">Para tu evento</p>
      </div>
    </header>
    <div class="ae-container-fluid">
      <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
        <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
          <h2 class="rk-portfolio-inner-title ">La mejores opciones para tu evento</h2>
        </div>
       
      </div>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
          <h4 class="ae-u-bolder">Alamo Fiestas</h4>
          <p class="ae-eta">Jardines,  Terrazas </p>
          <p class="ae-eta">EL ÁLAMO Salón de Fiestas, es una terraza jardín con instalaciones de primera, diseñado para todo tipo de evento, empresarial, social o familiar.</p>
        </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/img/Salon1.jpg" alt="Urku Portfolio"></div>
      </div>
      
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
          <h4 class="ae-u-bolder">Ananda 411</h4>
          <p class="ae-eta">Salones</p>
          <p class="ae-eta">Ananda 411 es un hermoso y acogedor salón para eventos sociales, con iluminación arquitectónica, vista panorámica a la cañada, cautivantes puestas de sol y de espíritu verde.</p>
        </div>
      </div>

      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg--auto"><img src="assets/img/SalonP.jpg" alt="Urku Portfolio"></div>
      </div>
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-6"><img src="assets/img/Salon2.jpg" alt="Urku Portfolio"></div>
        <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
          <h4 class="ae-u-bolder">ARIA Center</h4>
          <p class="ae-eta">Salones</p>
          <p class="ae-eta">Es un salón para eventos sociales, totalmente cubierto y con estilo; El cual garantiza que ese día tan importante para ti, nunca lo olviden.</p>
        </div>
      </div>
      

    </div>
    <div class="ae-container-fluid au-pt-4 au-pb-4">
      <div class="group-buttons"><a href="#0" class="au-mt-2 arrow-button arrow-button--right">Siguiente<span class="arrow-cont">
            <svg>
              <use xlink:href="assets/img/symbols.svg#arrow"></use>
            </svg></span></a></div>
    </div>
  </section>