<section class="ae-container-fluid ae-container-fluid--full">
    <header>
      <div class="item-inside__meta">
        <h1 class="ae-u-bolder rk-portfolio-title ">Shows en Vivo</h1>
        <p class="ae-theta rk-portfolio-category ">Para tu evento</p>
      </div>
    </header>
    <div class="ae-container-fluid">
      <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
        <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
          <h2 class="rk-portfolio-inner-title ">La mejores opciones para tu evento</h2>
        </div>
       
      </div>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
          <h4 class="ae-u-bolder">Camille & the Blue Note Jazz</h4>
          <p class="ae-eta">Camille & the Blue note Jazz qtet agrupacion de excelente nivel interpretativo, musicos profesionales con gran experiencia en el medio, ahora cuentan tambien con una excelente cantante femenina.</p>
          <p class="ae-eta">Han trabajado en infinidad de Eventos Privados, Hoteles, Restaurantes, Aniversarios etc.</p>
        </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/img/show1.jpg" alt="Urku Portfolio"></div>
      </div>
      
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
          <h4 class="ae-u-bolder">Grupo 360 Grados</h4>
          <p class="ae-eta">El Grupo 360° es un concepto musical versatil que toca 100 % en vivo con la más amplia diversidad en géneros musicales, para que tú y tus invitados no paren de bailar.</p>
          <p class="ae-eta">Tenemos más de 10 Show´s interactivos para entretener e interactuar con todos tus invitados SOMOS LOS EXPERTOS ! “No te confundas”</p>
        </div>
      </div>

      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg--auto"><img src="assets/img/show2.jpg" alt="Urku Portfolio"></div>
      </div>
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-6"><img src="assets/img/show3.jpg" alt="Urku Portfolio"></div>
        <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
          <h4 class="ae-u-bolder">PAYASOS PEQUITA FIESTAS INFANTILES</h4>
          <p class="ae-eta">Show de payasos para fiestas infantiles en mexico df y edo de mexico</p>
          <p class="ae-eta">Un show de circo en la comodidad de su hogar</p>
        </div>
      </div>
      

    </div>
    <div class="ae-container-fluid au-pt-4 au-pb-4">
      <div class="group-buttons"><a href="#0" class="au-mt-2 arrow-button arrow-button--right">Siguiente<span class="arrow-cont">
            <svg>
              <use xlink:href="assets/img/symbols.svg#arrow"></use>
            </svg></span></a></div>
    </div>
  </section>