<section class="ae-container-fluid rk-main">
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div class="au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-categories-menu">
          <li class="rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Eventos</a>
          </li>
          <li class="rk-menu__item"><a href="portfolio-alt.html" class="rk-menu__link">Salones</a>
          </li>
          <li class="rk-menu__item"><a href="portfolio-raw.html" class="rk-menu__link">Shows</a>
          </li>
          <li class="active rk-menu__item"><a href="portfolio-masonry.html" class="rk-menu__link">Temáticas</a>
          </li>
        </ul>
      </div>
      <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        <a routerLink="/item" class="rk-item ae-masonry__item"><img src="assets/img/imagen-1.jpg" alt="">
          <div class="item-meta">
            <h2>Salones de Fiesta</h2>
            <p>¡Descubrelos aquí!</p>
         </div></a>
         <a routerLink="/itemshows"class="rk-item ae-masonry__item"><img src="assets/img/imagen-3.jpg" alt="">
          <div class="item-meta">
            <h2>Shows en vivo</h2>
            <p>¡Descubrelos aquí!</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/imagen-4.jpg" alt="">
          <div class="item-meta">
            <h2>Temáticas para tus eventos</h2>
            <p>¡Descubrelos aquí!</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/imagen-5.jpg" alt="">
          <div class="item-meta">
            <h2>Fiestas para niños</h2>
            <p>¡Descubrelos aquí!</p>
          </div></a>
          <a routerLink="/itemboda"class="rk-item ae-masonry__item"><img src="assets/img/imagen-6.jpg" alt="">
          <div class="item-meta">
            <h2>Tu Boda ideal</h2>
            <p>¡Descubrelo aquí!</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/imagen-2.jpg" alt="">
          <div class="item-meta">
            <h2>Banquetes</h2>
            <p>¡Descubrelos aquí!</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/imagen-2.jpg" alt="">       
          <div class="item-meta">
              <h2>Banquetes</h2>
              <p>¡Descubrelos aquí!</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/imagen-7.jpg" alt="">
          <div class="item-meta">
                <h2>Mesas de Dulces</h2>
                <p>¡Descubrelos aquí!</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/imagen-8.png" alt="">
          <div class="item-meta">
                <h2>Organizador de Fiestas</h2>
                <p>¡Descubrelos aquí!</p>
          </div></a>
      </div>
    </section>
  </section>